body{
    background-color: whitesmoke;
}
.main{
    background-color:white;
    margin: 30px;
}

.btn-right{
    float: right;
    margin-bottom: 15px;
}

.avatar-wh{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    float: right;
}

.profile .section{
    margin-top: 20px;
}
.ark-menu{
    color: #999999;
}

.comment{
    margin: 15px 0;
}
