body{
    background-color: whitesmoke;
}
.main{
    background-color:white;
    margin: 30px;
}
.title-style{
    margin-top: 25px;
    font-weight: bold;
}
.description-style{
    font-weight: bold;
    font-size: medium;
}
.btn-right{
    float: right;
    margin-bottom: 15px;
}

.avatar-wh{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    float: right;
}

.profile .section{
    margin-top: 20px;
}
.ark-menu{
    color: #999999;
}

.comment{
    margin: 15px 0;
}

.sub-comment{
    border: 1px solid #eee;
    border-radius: 30px;
    margin-bottom: 15px;
}
.sub-comment .btn{
   margin: 5px 0;
}
.edit-margin{
    margin-bottom: 15px;
}

.icon-desc{
    font-size: 14px;
    font-weight: normal;
    color: #999999;
    float: right;
}

.icon-desc .icon-margin{
    margin-right: 7px;
    cursor: pointer;
}
.icon-count{
    margin-left: -8px;
    vertical-align: super;
    cursor: pointer;
}
.icon-desc .active{
    color: #499ef3;
}
.icon-desc .icon-margin:hover{
    color: #499ef3;
}

.comments{
    padding-top: 15px;
    /*margin-top: 15px;*/
    border-top: 1px solid #eeeeee;
}
.tag-text{
    font-size: 100%;
    margin: 3px;
    cursor: pointer;
    display: inline-block;;
}
.tag-tips{
    padding: 0;
    margin: 10px 0;
}

#selectTag{
    display: none;
}
.contentTags{
    margin: 10px;
}
